@import url('../style/reset.css');

* {
    box-sizing: border-box;
}

/* header */ 

.header {
    height: 140px;
    width: 100%;
    position: fixed;
    background-color: white;
    border-bottom: solid 1px #E50043;
}

.header-content {
    display: flex;
}

.header-content-logo {
    width: 120px;
    height: 40px;   
}

ul {
    margin-left: auto;
}

/* .menu li, a {
    list-style-type: none;
    text-decoration: none;
    color: #E50043;
    font-family: ArialMT;
    font-weight: 500;
    font-size: 50px;
}
*/ 

/* main */

.main-container {
    width: 1440px;
    height: 950px;
   
}

.main h1 {
    color:#E50043;
    font-family: ArialMT;
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
}