@import url('../style/reset.css');

* {
    box-sizing: border-box;
}
/* header */ 

.header-container {
    height: 140px;
    width: 100%;
    position: fixed;
    background-color: white;
    border-bottom: solid 1px #E50043;
    display: flex;
    z-index: 1;
}

.logo {
    width: 120px;
    height: 40px;
}

.menu {
   
}

.menu li, a {
    list-style-type: none;
    text-decoration: none;
    color: #E50043;
    font-family: ArialMT;
    font-weight: 500;
    font-size: 50px;
}

/* main */

.main-visual-container {
    width: 1440px;
    height: 950px;
    display: flex;
}

h1 {
    color:#E50043;
    font-family: ArialMT;
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
    margin: auto;
}