@import url(/Users/stanislavpanfilov/Desktop/projects/moscow_coding_school/web_dev/my_landing_page/reset.css);
@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto+Slab&display=swap');

.header-container {
    background-color:rgb(127, 188, 181);
    height: 80px;
    line-height: 80px;
    font-family: oswald, sans-serif;
}

.heading {
    margin-left: 80px;
}

.page-img {
height: 810px; 
}

.links-container {
    background-color:rgb(127, 188, 181);
    height: 80px;
    list-style-type: none;
    font-family: roboto slab, serif;
}

li {
    display: inline;
    line-height: 80px;
   
}


a {
    text-decoration: none;   
    color: black;
    margin-left: 80px;  
}

h3 {
    font-family: oswald, sans-serif;
    font-size: 20px;
    color: rgb(218, 57, 49);

}

.main-text {
    background-color: white;
    margin-left: 80px;
    margin-right: 80px;
    font-family: Roboto slab, serif;
    font-size: 16px;
}

.footer-container {
    background-color:rgb(127, 188, 181);
    height: 50px;
    line-height: 50px;
}

.footer-text {
    margin-left: 80px;
    font-family: roboto slab, serif;

}